
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#/"><img src="assets/angular.png" class="logo" /></a>
  </div>
  <h1>Alphanumeric Mobile Number Combinations (7 or 10 digits only)</h1>
  <form #starterForm="ngForm" (ngSubmit)="onSubmit()">
    Mobile Number: <input type="number" class="form-control"
                       name="mobileno"
                       #mobileno="ngModel"
                       [(ngModel)]="customer.mobileno"
                       required />
    <br />
    <span *ngIf="!mobileno.valid">First Name is required!</span>
    <br />
    <button class="btn btn-default" [disabled]="!starterForm.valid">Submit</button>
    <br /><br />
    {{ message }}
    <br />
  </form>
</nav>
